body {
    background-color: rgb(203, 185, 157);
}
.header {
    font-size: medium;
    font-weight: bold;
    color: rgb(178, 35, 12);
    display: inline-block;


}
h2 {
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p span {
    font-style: italic ;
}
h3 {
    text-align: left;
    font-weight: lighter;   
}
.indice {
    width: 300px;
    padding: 5px;
    border: 5px solid saddlebrown;
    margin: 0;
}
.tituloindice {
    font-size: medium;
    font-weight: bold;
    color: saddlebrown;
    text-transform: uppercase;
}
p {
text-indent:20px ;
line-height: 1.5;
}