.header {
    font-size: medium;
    font-weight: bold;
    color: rgb(178, 35, 12);
    background-color: yellow;
    display: inline-block;
}
h2 {
    text-align: left;
    text-decoration: underline;
    font-weight: bold;

}
p span {
    font-style: italic ;
}
h3 {
    text-align: left;
    font-weight: lighter;   
}