.header {
    font-size: medium;
    font-weight: bold;
    color: blanchedalmond;
    background-color: brown;
    display: inline-block;
}
h2 {
    text-align: left;
    text-decoration: underline;
    font-weight: bold;

}
p span {
    font-style: italic ;
}