#flex-container {
    display: flex;
    }
 .flex-containerdirection {
        display: flex;
        flex-direction: column;
        background-color: rgb(209, 67, 67);
/* align-items: center; */
}
.flex-containerdirection > div {
    background-color: rgb(84, 84, 163);
    width: 75%;
    margin: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    }
.flex-container-wrap {
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(69, 177, 183);
        }
.flex-container-wrap > div {
        background-color: rgb(220, 245, 123);
        width: 150px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        }
.container {
    display: flex;
    flex-flow: row wrap;
    background-color: brown;
}
.container > div {
    background-color: rgb(180, 118, 199);
    width: 150px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    }
.flex-container-justify {
display: flex;
justify-content: space-evenly;
background-color: rgb(48, 119, 56);
}
.flex-container-justify > div {
background-color: rgb(186, 88, 88);
width: 100px;
margin: 10px;
text-align: center;
line-height: 75px;
font-size: 30px;
}
.flex-container-aling {
display: flex;
height: 200px;
align-items: baseline;
background-color: blue;
}
.flex-container-aling > div {
background-color: red;
width: 100px;
margin: 10px;
text-align: center;
line-height: 75px;
font-size: 30px;
}
.flex-container-start {
display: flex;
height: 600px;
flex-wrap: wrap;
align-content: flex-start;
background-color: rgb(174, 205, 63);
}
.flex-container-start > div {
background-color: rgb(89, 196, 189);
width: 100px;
margin: 10px;
text-align: center;
line-height: 75px;
font-size: 30px;
}
.flex-container-center {
display: flex;
height: 600px;
flex-wrap: wrap;
align-content: center;
background-color: rgb(0, 255, 64);
}
.flex-container-center > div {
background-color: rgb(172, 47, 167);
width: 100px;
margin: 10px;
text-align: center;
line-height: 75px;
font-size: 30px;
}
.flex-container-between {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: rgb(145, 145, 148);
    }
    .flex-container-between > div {
    background-color: rgb(51, 47, 47);
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    }
    .flex-container-self {
    display: flex;
    height: 200px;
    background-color: red;
    }
    .flex-container-self > div {
    background-color: blue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    }