.main-header {
    background-color:#2ddf5c;
    padding: 8px 16px;
    width: 100%;
}
li.main-nav {
    display: inline-block;
    background-color: bisque;
}
ul.main-nav {
    background-color: #e21e25;
    display: inline-block;
}
nav.main-nav {
    background-color: rgb(106, 96, 82);
}
header.main-header {
    background-color: cornflowerblue;
}

.main-header > div {
    display: inline-block;
}