.flex-direction {
    display: flex;
    padding-right: 2em;
    flex-direction: row;
    background-color: blanchedalmond;
    justify-content: flex-end;
}
.flex-direction > div {
    background-color: aquamarine;
    padding-left: 2em;
    width: 160px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    justify-content: flex-end;
}
