   
*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
.main-header {
    display: inline-block;
    padding: 10px 16px; 
    width:100%;
}
header.main-header {
    background-color: #eae38a;
}
li.main-nav {
    display:inline-block;
    align-items: flex-end;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 8px 16px;
}
ul.main-nav {

    display:inline-block;
    margin: 0;
    padding: 0;
    list-style: none;    
}
.main-header > div {
    display: inline-block;
}
h1.titular {
    display: inline-block;
  text-decoration: underline;
}

